<div class="row" style="background-color:#2c2c2c;">
    <div class="col-md-12" style="background-color:#2c2c2c;">
        <div class="card card-signin">
            <div class="card-body" style="background:#2c2c2c;">
                <h5 class="card-title text-center">Create Meeting</h5>
                <form class="form-signin">
                    <div class="form-label-group">
                        <label for="meetingTitle">Session Title</label>
                        <input type="text" id="meetingTitle" class="form-control" name="sessionTitle"
                            placeholder="Session Title" ng-model="session_title">
                    </div>
                    <div class="form-label-group">
                        <label for="inputPassword">Session Link</label>
                        <input type="text" id="session" class="form-control" placeholder="Session Link" ng-model="session_link"
                            disabled>
                    </div>
                    <div class="form-label-group">
                        <label for="inputPassword">Session Password</label>
                        <input type="text" id="password" class="form-control" placeholder="Session Password" required ng-model="session_password">
                    </div>
                </form>
                <div>
                    <button type="button" class="btn btn-success" ng-click="create()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>