{#{% apply spaceless %}#}
<div id="confirmDeleteClub" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Club</h4>
            </div>
    <div class="modal-body">
        Are you sure to delete this club?
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="deleteClubNow">Delete</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
        </div>
    </div>
</div>
{#{% endapply %}#}