<link rel="stylesheet" href="css/presenter.css">
<link rel="stylesheet" href="css/admin.css">
<div class="presenter-main">
    <div class="container-fluid" ng-show="!logined">
        <div id="login-section">
            <div class="row">
                <div class="offset-md-3 col-md-6 offset-xl-4 col-xl-4">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Presenter Join</h5>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <label for="adminName">Presenter Name</label>
                                    <input type="text" id="presenter_name" class="form-control" name="presenterName"
                                        placeholder="Presenter Name" ng-model="presenter_name">
                                </div>
                                <div class="form-label-group">
                                    <label for="inputPassword">Presenter Session Link</label>
                                    <input type="text" id="presenter_link" class="form-control" ng-model="session_link"
                                        placeholder="Presenter Link" required>
                                </div>
                                <button class="btn btn-lg btn-success btn-block text-uppercase" id="join-btn"
                                    ng-click="join()" type="button">
                                    Join
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="header_styled" ng-if="logined">
        <div class="header_inner">
            <div class="header_title">
                <p class="mb-0">Presenter View {{meeting_title}}</p>
            </div>
        </div>
    </header>
    <div class="studio">
        <main class="studio_left">
            
        </main>
        <aside class="studio_right">

        </aside>
    </div>

    <div class="container-fluid">
        <div id="users-section" ng-show="logined">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="row mb-4 d-flex justify-content-center">
                        <span class="text-white mr-3">Presenter View <strong><span
                                    id="meeting_title">{{meeting_title}}</span></strong></span>
                        <button type="button" id="open-room" class="btn btn-success ml-3"
                            ng-click="share_screen()">Share Screen</button>
                    </div>

                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="layout_manager d-flex flex-column ml-2">
                                <span class="layout-item" ng-click="mic_control()">Mic

                                    <span class="fbJKOH" aria-label="Mute mic" ng-if="!item.muted"
                                        ng-click="mute_audio(item)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            viewBox="0 0 24 24" fill="#505868">
                                            <path
                                                d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z">
                                            </path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                        </svg>
                                    </span>
                                    <span class="fbJKOH" aria-label="Unmute mic" ng-if="item.muted"
                                        ng-click="unmute_audio(item)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="#505868">
                                            <path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9 3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99 3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z">
                                            </path>
                                        </svg>
                                    </span>

                                </span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="stage-section">
                                <div id="videos-container">
                                    <participant-broadcast-screen layout="layout" tracks="selected_tracks"
                                        track-id="track_id_arr" status="meeting_status"></participant-broadcast-screen>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12" style="display: flex;align-items: center;justify-content: flex-start;">
                            <div id="videos-remote-container" class="my_camera"
                                style="display:flex;width:100%;overflow-y:auto;">
                                <participant-cam participant="participant" ng-repeat="participant in participants">
                                </participant-cam>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chat-box">
                                <div class="chat-content">
                                    <div class="container message-container">
                                        <div class="row w-100 mr-0 ml-0 mt-1" ng-repeat="content in chat_contents">
                                            <div class="col-md-12 d-flex"
                                                ng-class="{'justify-content-end' : content.message_type == 1, 'justify-content-start' : content.message_type == 0}">
                                                <span>{{content.name}}</span>
                                            </div>
                                            <div class="col-md-12 d-flex"
                                                ng-class="{'justify-content-end' : content.message_type == 1, 'justify-content-start' : content.message_type == 0}">
                                                <span
                                                    style="background:#ececec;padding:2px;color:#000;border-radius: 5px;">{{content.text}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <input type="text" class="form-control mt-2" ng-model="input_chat"
                                    ng-enter="press_entered()" />
                                <button type="button" class="btn btn-secondary mt-2 mb-2" style="float:right;"
                                    ng-click="send()">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>