<link rel="stylesheet" href="css/presenter.css">
<link rel="stylesheet" href="css/admin.css">
<div class="presenter-main">
    <div class="studio">
        <main class="studio_left">
            <div class="studio_left_absolute">
                <div class="studio_video_row">
                    <div class="studio_videowrap" ng-style="{width : width + 'px', height : height + 'px'}">
                        <div id="videos-container">
                            <record-broadcast-screen layout="layout" track-id="track_id_arr" session="session_link">
                            </record-broadcast-screen>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
        
    </div>


    
</div>