<link rel="stylesheet" href="css/presenter.css">
<link rel="stylesheet" href="css/admin.css">
<div class="main">
    <div class="container-fluid">
        <div id="users-section">
            <div class="row mt-2">
                <div class="studio_video_row">
                    <!-- <canvas id="canvas" width="1920" height="1080"
                        style="border-radius:8px;padding:20px;background:#252c33;"
                        ng-style="{width : width + 'px', height : height + 'px'}"></canvas> -->
                    <video id="recorded" playsinline loop></video>
                </div>
            </div>

        </div>

    </div>
    <img src="slide/1.jpg" style="width:100%;height:100%;position:absolute;display:none;" id="slide" />
</div>